/* CSS for the left panel */
.left-panel {
    width: 300px;
    height: 100%;
    background-color: #7FB5FF;
    float: left;
    height: 19cm;
}

/* CSS for the left panel links */
.left-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-panel li {
    margin: 10px 0;
}

.left-panel a {
    display: block;
    padding: 10px;
    
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.left-panel a:hover {
    background-color: #2D31FA;
    color: white;
}

/* CSS for the content area */
.content {
    margin-left: 300px;
    padding: 20px;
}

/* CSS for the active component */
.active {
    background-color: #FBC1BC;
    color: #fff;
}

/* CSS for the home content section */
#home {
   
    padding: 20px;
    background-image:   url("./photo-1449156733864-dd5471bb7427.avif") ;
    background-repeat: no-repeat;
    background-size: 1680px 780px;
  
}

#home h2 {
    color: #efe4e4;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

#home p {
    color: #121010;
    line-height: 1.6;
}

#home .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#home .cta-button:hover {
    background-color: #e63939;
}


/* contact */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .content-section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  /* info page  */

  body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  